.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0 92px;

}

.header__menu {
    margin-left: 50px;
    padding-bottom: 6px;
}

.header__menu-list {
    display: flex;
    column-gap: 33px;
    list-style: circle;
}

.header__menu-item_active {
    list-style: none;
}

.header__menu-link {
    font-weight: 400;
    font-size: 18px;
    text-underline-offset: 3px;
}

.header__menu-link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    width: 240px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    padding-bottom: 4px;
}

.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    margin-right: 50px;
}

.link__tel {
    text-underline-offset: 5px;
}

.link__email {
    text-underline-offset: 4px;
    padding-bottom: 1px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-size: cover;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    display: block;
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 114.99999999999999%;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text_left {
    text-align: left;
    padding: 165px 44.5px 20px 50px;
}

.aligned-text_center {
    text-align: center;
    margin: 2px 380.5px 16px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.cover__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 108px;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    color: white;
    line-height: 28px;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    border: 1px solid white;
    background: transparent;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.lots {
    width: 1052px;
    margin: 185px 0 24px 24px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px 25px;
    flex-wrap: wrap;
    margin-bottom: 31px;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;

}

.card-link {
    text-decoration: none;
    color: white;
}

.card {
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 48px 40px auto;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    line-height: 120%;
}

.card__text {
    margin: auto 40px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 5px;
}

.about {
    width: 1052px;
    margin: 120px 24px 170px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 693px;
    column-gap: 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    opacity: 1;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__block {
    margin-bottom: 12px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 141px;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__text-p {
    width: 688px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 264.57px;
    margin-left: 50px;
}

.footer__menu {
    margin-top: 3px;
    line-height: 21px;
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    column-gap: 33px;
    list-style: none;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    column-gap: 48px;
    margin-top: 1px;
    margin-left: 76px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}